Front-end: 

React 
JavaScript
reactstrap/Bootstrap

API NEEDED

ISBNDB API (7.50 USD / month)

Books API by Google:

Reference: 
https://developers.google.com/books/docs/overview

https://developer.nytimes.com/docs/books-product/1/routes/reviews.json/get

API-key:

AIzaSyD3DI_X4QVRgZsY6OpvLxDhUjopDYomKv4

https://www.googleapis.com/books/v1/volumes?q=subject:computers&orderBy=newest&startIndex=10&maxResults=20&filter=paid-ebooks&key=AIzaSyD3DI_X4QVRgZsY6OpvLxDhUjopDYomKv4

fuiKNFp9vQFvjLNvx4sUwti4Yb5yGutBN4Xh10LXZhhRKjWlV4

UI KIT: 

1. Bookland by PeterDraw UI Kit.

To Complete: 

1. Design Mobile and Web UI Layout in Figma.
2. Develop the Prototype/MockUp in Figma Web and Mobile Version.
3. Develop the Folder Structure.
4. List the components needed in React.
5. Follow the steps on One Note.

(Check Coursera tutorial for Prototype UX Design)